a, .fancy {
  color: #d98f00;
}

li.post{
  margin-top: 1em;
}

blockquote {
  margin: 1em 5em !important;
  background-color: #eee;
  padding: 1em !important;
  font-style: italic;
  border-left: 5pt #aaa solid;
}

blockquote p {
  margin: 0 !important;
}
@import 'showcase.scss'
