a, .fancy {
  color: #d98f00;
}

li.post{
  margin-top: 1em;
}

blockquote {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  background-color: #ddd;
  padding: 1em !important;
}

blockquote p {
  margin: 0 !important;
}
@import 'showcase.scss'
