.showcase {
  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  padding: 1em;
  max-width: 25em;
}

.showcase-image {
  height: 20vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}


.pills {
  display: inline;
  padding-left: 0;
}

.pill {
  background-color: #ddd;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em;
  margin-right: 1em;
  border-radius: 1em;
  vertical-align: middle;
}

.link-icon {
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
