.showcase-item {
  padding: 1em;
  width: 100%;
}


.pills {
  display: inline;
  padding-left: 0;
}

.pill {
  background-color: #ddd;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em;
  margin-right: 1em;
  border-radius: 1em;
}
