{{ define "main" }}
<main class="showcase">
    <h1>{{ .Title }}</h1>
    <div class="flex">
      {{ range .Pages }}
      <div class="item">
        <h2>
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
        <a href="{{.RelPermalink}}">
          <img src="{{- .Params.imageurl }}" title="{{ .Title }}" class="width">
        </a>
          <p>{{ .Description }}</p>
          <ul class="pills">
            <li class="pill">{{ .Params.License }}</li>
            <li class="pill">
              <a href="{{ .Params.Link }}" rel="noopener" title="Open link to {{ .Title }} project">
                <img src="/svg/link.svg" class="link">
              </a>
            </li>
          </ul>
      </div>
      {{ end }}
    </div>
  </main>
{{ end }}
