{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<div class="post-list__container">
  <div>
    <h1>{{ .Title }}</h1>
    <div class="showcase">
      {{ range .Pages }}
      <div class="showcase-item">
        <img class="showcase-image" src="{{ .Params.imageurl }}" title="Sample image for {{ .Title }}">
          <h2 class="post__title">
            <a href="{{.RelPermalink}}">{{ .Title }}</a>
          </h2>
          <p>{{ .Description }}</p>
          <ul class="pills">
            <li class="pill">{{ .Params.License }}</li>
            <li class="pill">
              <a class="social-icons__link" href="{{ .Params.Link }}" rel="noopener">
                <div class="social-icons__icon" style="background-image:url(/svg/link.svg)"></div>
              </a>
            </li>
          </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
