body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

.categories {
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
}

.categories li {
  display: inline-block;
}

@media (orientation: landscape) {
  .container {
    display: flex;
  }

  nav.main {
    width: 10vw;
    text-align: right;
  }

  ul {
    padding: 0;
  }

  nav.main li {
    list-style-type: none;
    display: block;

    line-height: 2;
  }

  nav.main ul li>a:not([href]) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #666;
    display: block;
    margin-top: 10px;
    cursor: default;
    text-decoration: none;
  }

  nav.main ul li ul {
    font-size: 0.85rem;
  }

  main {
    width: 90vw;
    padding: 0 3em;
  }

  main.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

  .title::after {
    content: ".";
    color: #d98f00;
  }

  .socials .social {
    padding: 1em;
    display: inline-block;
  }

  .socials .social img {
    width: 3em;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    flex: 0 0 20vw;
    width: 20vw;
    margin: 0 2em 2em 0;
  }

  .flex img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .pills {
    display: inline;
    padding-left: 0;
  }

  .pill {
    background-color: #ddd;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em;
    margin-right: 1em;
    border-radius: 1em;
    vertical-align: middle;
  }

  .pill .link {
    height: 1.4rem;
    width: auto;
  }
}

@media (orientation: portrait) {
  nav.main {
    padding: 0;
  }

  nav.main li {
    display: inline-block;
    margin: 0 1em;
  }

  nav.main ul li>a:not([href]) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #666;
    display: block;
    margin-top: 10px;
    cursor: default;
    text-decoration: none;
  }

  main.home {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .title::after {
    content: ".";
    color: #d98f00;
  }

  .socials .social {
    padding: 1em;
    display: inline-block;
  }

  .socials .social img {
    width: 3em;
  }

  main {
    padding: 1em;
  }
}