body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

@media (orientation: landscape) {
  .container {
    display: flex;
  }

  nav.main {
    width: 10vw;
    text-align: right;
  }

  ul {
    padding: 0;
  }

  nav.main li {
    list-style-type: none;
    display: block;

    line-height: 2;
  }

  nav.main ul li>a:not([href]) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #666;
    display: block;
    margin-top: 10px;
    cursor: default;
    text-decoration: none;
  }

  nav.main ul li ul {
    font-size: 0.85rem;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 80vw;
    align-items: center;
    min-height: 100vh;
  }

  .title::after {
    content: ".";
    color: #d98f00;
  }

  .socials .social {
    padding: 1em;
    display: inline-block;
  }

  .socials .social img {
    width: 3em;
  }
}

@media (orientation: horizontal) {
}