{{ with .Site.Params.Webmention.reply_to -}}
    <link rel="webmention" href="{{ . }}" />

    {{ if $.IsHome }}
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Blog",
    "name": {{ $.Site.Title | jsonify }},
    "url": {{ $.Site.BaseURL | jsonify }},
    "publisher": {
        "@type": "Organization",
        "name": {{ $.Site.Title | jsonify }},
    }
    "blogPost": [
        {{ $posts := where $.Site.RegularPages "Section" "in" (slice "blog" "personal") }}
        {{ range first 5 $posts }}
        {
        "@type": "BlogPosting",
        "headline": {{ .Title | jsonify }},
        "url": {{ .Permalink | jsonify }},
        "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }}
        }{{ if ne . (index (first 5 (where $.Site.RegularPages "Section" "blog")) (sub (len (first 5 (where $.Site.RegularPages "Section" "blog"))) 1)) }},{{ end }}
        {{ end }}
    ]
    }
    </script>
    {{ else if $.IsPage }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": {{ .Title | jsonify }},
        "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
        "author": {
            "@type": "Person",
            "name": {{ .Params.author | default .Site.Author.name | jsonify }}
        }
    }
    </script>
    {{ end }}
{{- end }}