name: Test Scripts

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/tests.yml
      - scripts/*.py

jobs:
  python:
    name: Test Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Run linting
        run: |
          uv run black --diff scripts
          uv run isort --diff scripts
          uv run bandit scripts
